p,h2{margin:0;padding:0;}
.movie-item{
	width: 2.3rem;
	height: 4rem;
	float: left;
	margin-left: 0.15rem;
	/*background: orange;*/
	box-shadow: 3px 3px 3px #525151;
	margin-top: 0.38rem;
	margin-bottom: 0.38rem;
}
.movie-item img{
	display: block;
	width: 100%;
	height: 3.3rem;
}
.movie-item h2{
	display: flex;
	margin-top: 0.24rem;
}
.movie-item h2 p{
	flex: 3;
	font-size: 0.3rem;
	font-family: "黑体";
	color: #000;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.movie-item h2 span{
	flex: 1;
	font-size: 0.16rem;
	/*color: #3e27a5a;*/
	letter-spacing: 0.01rem;
	color: #e96571;
	font-family: "微软雅黑";
	text-align: right;
}